@charset "UTF-8";

a{
	text-decoration: none;
}
body{
	background-color: #fffaf0;
}
header h1{
	width: fit-content;
	margin: 20px auto;
	padding-left: 15px;
	border-left: 5px solid #30945c;
}
.contents{
	width: fit-content;
	margin: 0 auto;
	padding: 20px;
	border: 2px solid black;
	background-color: #f7f7f7;
}
table{
	width: fit-content;
	margin: 0 auto;
/*	padding-left: 70px;*/
/*	padding: 10px 0;*/
	
	font-size: 120%;
}
table td{
	padding: 5px 15px;
}
table th{
	padding: 5px 15px;
	text-align: right;
	font-weight: initial;
}
table select{
	font-size: 90%;
	margin-right: 10px;
}
table input{
	font-size: 90%;
}
textarea {
  resize: none; /* サイズ変更を禁止する */
}

.button{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	text-align: center;
}
.button *{
	margin: 0 20px;
	font-size: 90%;
}

.holidayRequest{
	width: fit-content;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px;
	border: 2px solid black;
	border-radius: 10px;
	
	font-size: 130%;
	color: white;
	background-color: #1c80c4;
	text-indent: 10px;	/* letter-spacing と同じ値を設定することで文字列が左にずれることを防ぐ*/
	letter-spacing: 10px; /* 文字間の調整 */
}