@charset "UTF-8";
/*共通*/
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}




body{
	background-color: #fffaf0;
}

header{
	margin: 0 auto;
	padding: 2px;
	width: 825px;
	text-align: center;
	background-color: #293145;
	color: white;
	
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
/*コンテンツ*/

.infoUid{
	padding-left: 20px;
	text-align: left;
	font-weight: bold;
	font-size: 100%;
	color: black;
}
.chatFrame{
	width: 820px;
/*	下方向にはみ出た部分はスクロールにする*/
	height: 680px; overflow-y: auto;
	border: 5px solid #293145;
	border-top: none;
	border-left: 4px solid #293145;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin: 0px auto 30px auto;
	text-align: center;
	background-color: 	#7A93BF;
	
}
#chatBlockMy{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}
#chatBlockYou{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.chatFrame .myMessage{
	width: 250px;
	margin: 10px;
	padding: 10px;
	
	/*	半角英数字を<div>内で折り返すためのcss*/
	word-wrap: break-word;      /* 古いブラウザ向け */
 	overflow-wrap: break-word;  /* 標準的な対応 */
 	
	text-align: left;
	border-radius: 15px;
	background-color: 	#9AE264;
}
.chatFrame .youMessage{
	width: 250px;
	margin: 10px;
	padding: 10px;
	
	/*	半角英数字を<div>内で折り返すためのcss*/
	word-wrap: break-word;      /* 古いブラウザ向け */
 	overflow-wrap: break-word;  /* 標準的な対応 */
 	
	text-align: left;
	border-radius: 15px;
	background-color: 	white;
}
.timestamp{
	text-align: center;
	color: white;
}
.highlight{
/*	未読メッセージに装飾する */
	margin-top: 10px;
	border-top: 3px solid #f4b000;
}
.unreadMessage{
	padding: 0 5px;
	color: black;
	font-weight: bold;
	background-color: #f4b000;
	border-radius: 10px;
}
.chatForm{
	text-align: center;
}
