<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>パスワードリセット</title>
<link rel="stylesheet" th:href="@{/css/admin_delete_user.css}" />
</head>
<body>
	<header>
		<h1>パスワードリセット</h1>
	</header>
	<div class="contents">
		<form th:action="@{/admin/reset/password/post}" th:object="${registerDTO}" method="post">
		<table>
			<tr>
				<th><label for="uid">ユーザーID（半角英数字 1～10文字）:</label></th>
				<td>
					<input type="text" th:field="*{uid}" placeholder="ユーザーID"/>
            		<div th:if="${#fields.hasErrors('uid')}" th:errors="*{uid}" style="color: red"></div>
				</td>
			</tr>
		</table>
		<p hidden>
			<input type="text" name="passwd" value="00000" />
			<input type="text" name="role" value="00000" />
		</p>
		<div class="button">
			<button type="button" th:onclick="|location.href='@{/admin}'|">戻る</button>
            <button type="submit" onclick="return confirm('パスワードをリセットしますか？');">リセット</button>
		</div>
		</form>
	</div>
</body>
</html>