<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>全体チャット</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/chat_room_All.css}" />
</head>
<body>
	<header>
		<h1>【全体チャット】</h1>
	</header>

<!--	メッセージを表示 -->
	<div class="chatFrame" id="chatFrame">
		<ul>
			<li th:each="cm, iterStat : ${session.chatMessageAll}" th:classappend="${iterStat.index == session.chatMessageAll.size() - highlightCount} ? 'highlight'">
				<!-- 未読メッセージの表示-->
				<span class="unreadMessage" th:if="${iterStat.index == session.chatMessageAll.size() - highlightCount}">ここから未読メッセージ</span>
				<!-- 自分のメッセージを識別する-->
				<div th:if="${session.myUid == cm[1]}" id="chatBlockMy">
						<span class="timestamp" th:utext="${cm[4]}"></span>
					<div  class="myMessage">
						<span  th:text="${cm[3]}"></span>
					</div>
				</div>
				<div th:if="${session.myUid != cm[1]}">
					<div class="infoUid" th:text="${'@' + cm[1]}"></div>
					<div id="chatBlockYou">
						<div class="youMessage">
							<span th:text="${cm[3]}" style="color: black"></span>
						</div>
						<span class="timestamp" th:utext="${cm[4]}"></span>	
					</div>
	
				</div>
			</li>
		</ul>	
	</div>
		<div class="chatForm">
			<form th:action="@{/chat_room_all/message_post}"  method="post">
            		<textarea id="message_text" name="messageText" rows="1" style="overflow: hidden; resize: none;" cols="50" placeholder="メッセージを入力"/></textarea>
        			<input type="hidden" name="chatRoomId" th:value="1"/>
        			<input type="hidden" name="senderId" th:value="${session.mySerial_id}"/>
        			<input type="hidden" name="receiverId" th:value="0"/>
            		<button type="submit">送信</button>
            		<br><button type="button" th:onclick="|location.href='@{/reChatGroup}'|">戻る</button>
        		</div>
    		</form>
		</div>

	
</body>
<script th:inline="javascript">
	// ページをロードした時点でチャットのスクロールを一番下に自動でスクロールする
  	window.onload = function() {
    var chatBox = document.getElementById("chatFrame");
    chatBox.scrollTop = chatBox.scrollHeight;
  };
    // テキストエリアをユーザーの入力に応じてサイズを変化させる
    const textarea = document.getElementById('message_text');
  	textarea.addEventListener('input', function () {
    this.style.height = 'auto'; // 一旦リセット
    this.style.height = `${this.scrollHeight}px`; // scrollHeightで自然にフィット
	});
	
	// 以下、web-socket の記述
	const socket = new SockJS('/ws');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
		console.log("WebSocket接続成功");
		
        // web-socketの受信時の動作の記述
        stompClient.subscribe("/topic/public", function (message) {	// 全体送受信
		
		if (message.body === "reloadGroupChat") {
            window.location.reload();  // メッセージが "reload" のときだけページリロード
        }
        });
    });
</script>
</html>